/* Card.css */

.card {
    display: inline-block;
    transition: 0.2s;
    width: 300px; /* Definindo uma largura fixa */
    margin: 10px;
    background-color: white;
}

.card:hover {
    transform: scale(1.007);
}

.card .card-image {
    
    height: 400px; /* Altura fixa para o contêiner da imagem */
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem e preenche o espaço */
}

.card .card-footer {
    padding: 10px;
    text-align: left;
}

.card .card-footer h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card .card-footer p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}
